@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

.tabnav .card-header-tabs a {
    font-size: 75%;
} 


.nav-link {
    padding: 5px 10px 5px 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #E8C547;
}

a {
    color: #00A8BA;
    font-size: 12px;
}